{% load static %}
<section class="about_section mb-32">
    <div class="max-w-7xl px-8 mx-auto">
        <div class="flex flex-col items-center  gap-4 md:flex-row">
            <div class="flex-1">
                <div class="img-box">
                    <img src="{% static 'asset/about-img.jpg' %}" alt="">
                </div>
            </div>
            <div class="flex-1">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2 class="text-3xl font-bold uppercase">
                            About <span class="text-[#00c6a9]">Clinic</span>
                        </h2>
                    </div>
                    <p>
                        Welcome to ClinicSync, where healthcare meets compassion. With a rich history of serving our
                        community, our mission is clear: to enhance lives through high-quality medical care. Our
                        dedicated team of experienced professionals provides personalized patient care in a warm and
                        welcoming environment. We prioritize your health and comfort, offering state-of-the-art
                        facilities and technology for accurate diagnostics and treatments. Whether you need routine
                        check-ups or specialized care, trust us as your healthcare partner. Discover our story, mission,
                        and the caring individuals behind ClinicSync as we embark on a journey to better health
                        together.
                    </p>
                    <a href="#">
                        Read More
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>