{% load static %}
<section class="relative pt-[45px] pb-[75px] mb-32" style="box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);">
    <div class="carousel_btn-box">
        <button class="carousel-control-prev" id="prevBtn" data-slide="prev">
            <img src="{% static 'asset/prev.png' %}" alt="">
            <span class="sr-only">Previous</span>
        </button>
        <button class="carousel-control-next" id="nextBtn" role="button" data-slide="next">
            <img src="{% static 'asset/next.png' %}" alt="">
            <span class="sr-only">Next</span>
        </button>
    </div>
    <div class="owl-carousel banner-carousal">
        <div class="max-w-6xl mx-auto flex flex-col md:flex-row  items-center ">
            <div class="detail-box flex-1 px-6 md:px-6">
                <div class="play_btn mx-auto md:m-0">
                    <button>
                        <i class="fa fa-play" aria-hidden="true"></i>
                    </button>
                </div>
                <h1 class="text-center md:text-left">
                    Healthy <br>
                    <span>
                        Treatment
                    </span>
                </h1>
                <p class="my-3">
                    Discover Holistic Health Solutions and Natural Treatments for a Better Lifestyle. Our Website Offers
                    Insights into Nutrition, Wellness, and Effective Remedies for Various Health Conditions. Explore a
                    Comprehensive Resource for Holistic Healing and Empower Yourself to Achieve Optimal Health Today."
                </p>
                <div class="flex justify-center md:justify-start">
                    <a href="" class="">
                        Contact Us
                    </a>
                </div>
            </div>
            <div class="img-box flex-1 flex items-center justify-center h-[550px] p-4">
                <img src="{% static 'asset/slider-img.jpg' %}" alt="">
            </div>
        </div>
        <div class="max-w-6xl mx-auto flex flex-col md:flex-row  items-center">
            <div class="detail-box flex-1 px-6 md:px-6">
                <div class="play_btn mx-auto md:m-0">
                    <button>
                        <i class="fa fa-play" aria-hidden="true"></i>
                    </button>
                </div>
                <h1 class="text-center md:text-left">
                    Accurate <br>
                    <span>
                        Appointment
                    </span>
                </h1>
                <p class="my-3">
                    Effortlessly Book and Manage Appointments with Precision on Our Website. We Offer a Seamless Online
                    Appointment Booking System, Ensuring Accuracy and Convenience for Your Medical, Dental, or
                    Professional Services. Take Control of Your Schedule Today.
                </p>
                <div class="flex justify-center md:justify-start">
                    <a href="" class="">
                        Contact Us
                    </a>
                </div>
            </div>
            <div class="img-box flex-1 flex items-center justify-center  h-[550px] p-4">
                <img src="{% static 'asset/1avif.png' %}" alt="">
            </div>
        </div>
        <div class="max-w-6xl mx-auto flex flex-col md:flex-row  items-center">
            <div class="detail-box flex-1 px-6 md:px-6">
                <div class="play_btn mx-auto md:m-0">
                    <button>
                        <i class="fa fa-play" aria-hidden="true"></i>
                    </button>
                </div>
                <h1 class="text-center md:text-left">
                    Professional <br>
                    <span>
                        Advice
                    </span>
                </h1>
                <p class="my-3">
                    Unlock Expertise and Insight with Our Website's Professional Advice Hub. Explore Authoritative
                    Guidance and Trusted Insights Across a Wide Range of Topics, from Business and Finance to Health and
                    Lifestyle. Elevate Your Decision-Making with Our Comprehensive Resource of Professional Advice.
                </p>
                <div class="flex justify-center md:justify-start">
                    <a href="" class="">
                        Contact Us
                    </a>
                </div>
            </div>
            <div class="img-box flex-1 flex items-center justify-center h-[550px] p-4">
                <img src="{% static 'asset/slider-img3.png' %}" alt="">
            </div>
        </div>
        <div class="max-w-6xl mx-auto flex flex-col md:flex-row  items-center">
            <div class="detail-box flex-1 px-6 md:px-6">
                <div class="play_btn mx-auto md:m-0">
                    <button>
                        <i class="fa fa-play" aria-hidden="true"></i>
                    </button>
                </div>
                <h1 class="text-center md:text-left">
                    Proper <br>
                    <span>
                        Checkup
                    </span>
                </h1>
                <p class="my-3">
                    Prioritize Your Health with Comprehensive and Thorough Checkups through Our Website. We Offer a
                    Range of Medical Screening and Diagnostic Services to Ensure Your Well-Being. Trust Our Professional
                    Team for Precise and Timely Health Assessments. Your Journey to Better Health Starts Here.
                </p>
                <div class="flex justify-center md:justify-start">
                    <a href="" class="">
                        Contact Us
                    </a>
                </div>
            </div>
            <div class="img-box flex-1 flex items-center justify-center h-[550px] p-4">
                <img src="{% static 'asset/2.png' %}" alt="">
            </div>
        </div>
    </div>
</section>