{% load static %}
<section class="max-w-7xl mx-auto treatment_section mb-32">
    <div class="heading_container mb-5">
        <h2 class="text-3xl font-bold uppercase text-center">
            Clinic <span class="text-[#00c6a9]">Treatment</span>
        </h2>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4 mx-5">
        <div class="box">
            <div class="img-box">
                <img src="{% static 'asset/t1.png' %}" alt="">
            </div>
            <div class="detail-boxs">
                <h4 class="text-xl my-2">
                    Nephrologist Care
                </h4>
                <p>
                    Caring for Your Kidneys: Our Nephrologists are Experts in Renal Health. Trust Us for Comprehensive
                    Kidney Care, from Diagnosis to Treatment. We're Dedicated to Your Kidney Health and Well-being.
                    Schedule Your Consultation Today.
                </p>
            </div>
        </div>
        <div class="box">
            <div class="img-box">
                <img src="{% static 'asset/t3.png' %}" alt="">
            </div>
            <div class="detail-boxs">
                <h4 class="text-xl my-2">
                    Pediatrician care
                </h4>
                <p>
                    Expert Pediatrician Care for Your Child's Well-being. Our dedicated team of pediatric specialists
                    offers compassionate and comprehensive care, from infancy to adolescence. Trust us to prioritize
                    your child's health and development. Schedule an appointment today for a healthy and happy future.
                </p>
            </div>
        </div>
        <div class="box">
            <div class="img-box">
                <img src="{% static 'asset/t2.png' %}" alt="">
            </div>
            <div class="detail-boxs">
                <h4 class="text-xl my-2">
                    Eye Care
                </h4>
                <p>
                    Caring for Your Eyes: Expert Eye Care Services. Our specialists provide comprehensive eye care, from
                    routine check-ups to advanced treatments, ensuring clear vision and eye health. Schedule an
                    appointment today for a brighter tomorrow.
                </p>
            </div>
        </div>
        <div class="box">
            <div class="img-box">
                <img src="{% static 'asset/t4.png' %}" alt="">
            </div>
            <div class="detail-boxs">
                <h4 class="text-xl my-2">
                    Parental Care
                </h4>
                <p>
                    Comprehensive Parental Care for Your Health and Wellness. Our team of experienced professionals
                    specializes in addressing the unique needs of parents. From preventive health measures to guidance
                    on family well-being, we prioritize your health journey. Schedule an appointment today to support
                    your health and family's happiness.
                </p>
            </div>
        </div>
        <div class="box">
            <div class="img-box">
                <img src="{% static 'asset/t6.png' %}" alt="">
            </div>
            <div class="detail-boxs">
                <h4 class="text-xl my-2">
                    Liver Care
                </h4>
                <p>
                    Prioritize Your Liver Health with Expert Care. Our specialists are dedicated to comprehensive liver
                    care, from diagnosis to advanced treatments. Trust us for a healthy liver and overall well-being.
                    Schedule an appointment today for a healthier tomorrow.
                </p>
            </div>
        </div>
        <div class="box">
            <div class="img-box">
                <img src="{% static 'asset/t5.png' %}" alt="">
            </div>
            <div class="detail-boxs">
                <h4 class="text-xl my-2">
                    Heart Care
                </h4>
                <p>
                    Your Heart's Well-being is Our Priority. Our cardiology experts provide comprehensive heart care,
                    from prevention to advanced treatments. Trust us for optimal cardiac health and well-being. Schedule
                    an appointment today for a healthier heart and life.
                </p>
            </div>
        </div>
    </div>
</section>