{% extends 'base.html' %}
{% block head_title %}
{% if patient_slug %}
{{patient_slug|capfirst}}
{% elif search_value %}
Serach
{% else %}
All
{% endif %}
Patients
{% endblock %}
{% load static %}
{% block content %}


<section class="mt-16">
    <div class="max-w-7xl mx-auto">
        <h1 class="text-[#00C6A9] text-3xl font-bold text-center mb-6">Total {{patients|length}} Patients Details Found
            {% if patient_slug and patients|length %}
            with <span class="text-primary-700">"{{patient_slug|upper}}"</span> Category
            {% elif search_value and patients|length %}
            with <span class="text-primary-700">"{{search_value|upper}}"</span> Keyword
            {% endif %}
        </h1>
        <div class="flex items-center gap-6 flex-col-reverse md:flex-row justify-between pb-4 bg-white">
            <div>
                <div class="flex items-center gap-3">
                    <p>Filter Patients:</p>
                    <button id="dropdownActionButton" data-dropdown-toggle="dropdownAction"
                        class="inline-flex items-center text-gray-500 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-3 py-1.5"
                        type="button">
                        <span class="sr-only">Filter Patients</span>
                        {% if patient_slug %}
                        {{patient_slug|capfirst}}
                        {% elif search_value %}
                        ---
                        {% else %}
                        All
                        {% endif %}
                        <svg class="w-2.5 h-2.5 ml-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                            fill="none" viewBox="0 0 10 6">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m1 1 4 4 4-4" />
                        </svg>
                    </button>
                </div>
                <div id="dropdownAction" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44">
                    <div class="py-1">
                        <a href="{% url 'all_patients' %}"
                            class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">All</a>
                    </div>
                    <div class="py-1">
                        <a href="{% url 'patients_by_issue' patient_slug='nephrologist' %}"
                            class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Nephrologist
                            Patient</a>
                    </div>
                    <div class="py-1">
                        <a href="{% url 'patients_by_issue' patient_slug='pediatrician' %}"
                            class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Pediatrician
                            Patient</a>
                    </div>
                    <div class="py-1">
                        <a href="{% url 'patients_by_issue' patient_slug='eye' %}"
                            class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Eye Patient</a>
                    </div>
                    <div class="py-1">
                        <a href="{% url 'patients_by_issue' patient_slug='parental' %}"
                            class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Parental
                            Patient</a>
                    </div>
                    <div class="py-1">
                        <a href="{% url 'patients_by_issue' patient_slug='liver' %}"
                            class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Liver
                            Patient</a>
                    </div>
                    <div class="py-1">
                        <a href="{% url 'patients_by_issue' patient_slug='heart' %}"
                            class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Heart
                            Patient</a>
                    </div>
                </div>
            </div>
            <label for="table-search" class="sr-only">Search</label>
            <div class="relative">
                <div class="absolute z-10 top-1/2 -translate-y-1/2 flex items-center pl-3 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-500 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                        fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                    </svg>
                </div>
                <form action="{% url 'search' %}" method="get" class="flex w-full relative justify-end">
                    <input name="keyword" type="text" id="table-search-users"
                        class="block p-2 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-72 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 "
                        placeholder="Search By Patient Name">
                    <button type="submit"
                        class="text-white absolute right-0 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-3 py-3 text-center inline-flex items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-3.5 h-3.5">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
                        </svg>

                    </button>
                </form>
            </div>
        </div>
    </div>
    {% if patients %}
    <div>

        <div class="relative overflow-x-auto shadow-md pt-3 sm:rounded-lg max-w-[1400px] mx-auto">

            <table class="w-full text-sm text-left text-gray-500 ">
                <thead class="text-xs text-gray-700 uppercase bg-[#00C6A9]  ">
                    <tr>
                        <th scope="col" class="px-6 py-3 font-bold text-sm">
                            No.
                        </th>
                        <th scope="col" class="px-6 py-3 font-bold text-sm">
                            Dr. Name
                        </th>
                        <th scope="col" class="px-6 py-3 font-bold text-sm">
                            Dr. Username
                        </th>
                        <th scope="col" class="px-6 py-3 font-bold text-sm">
                            Dr. Email
                        </th>
                        <th scope="col" class="px-6 py-3 font-bold text-sm">
                            Patient Disease
                        </th>
                        <th scope="col" class="px-6 py-3 font-bold text-sm">
                            Patient Name
                        </th>
                        <th scope="col" class="px-6 py-3 font-bold text-sm">
                            Patient Age
                        </th>
                        <th scope="col" class="px-6 py-3 font-bold text-sm">
                            Patient Address
                        </th>
                        <th scope="col" class="px-6 py-3 font-bold text-sm">
                            Appointment Date
                        </th>

                    </tr>
                </thead>
                <tbody>
                    {% for patient in patients %}
                    <tr class="bg-white border-b ">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                            {{ forloop.counter }}
                        </th>
                        <td class="px-6 py-4">
                            {% for doctor in patient.doctor.all %}
                            {{doctor.name}}
                            {% endfor %}
                        </td>
                        <td class="px-6 py-4">
                            {% for doctor in patient.doctor.all %}
                            {{doctor.user.username}}
                            {% endfor %}
                        </td>
                        <td class="px-6 py-4">
                            {% for doctor in patient.doctor.all %}
                            {{doctor.user.email}}
                            {% endfor %}
                        </td>
                        <td class="px-6 py-4">
                            {{patient.issue|capfirst}} Patient
                        </td>
                        <td class="px-6 py-4">
                            {{patient.name}}
                        </td>
                        <td class="px-6 py-4">
                            {{patient.age}}
                        </td>
                        <td class="px-6 py-4">
                            {{patient.address}}
                        </td>
                        <td class="px-6 py-4">
                            {{patient.appointment_date}}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% else %}
    <section class="bg-white ">
        <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
            <div class="mx-auto max-w-screen-sm text-center">
                <h1 class="mb-4 text-7xl tracking-tight font-extrabold lg:text-9xl text-primary-600 ">411</h1>
                <p class="mb-4 text-3xl tracking-tight font-bold text-gray-900 md:text-4xl ">No Patient Found
                    {% if patient_slug %}
                    with <span class="text-primary-600">"{{patient_slug|upper}}"</span> Category
                    {% elif search_value %}
                    with <span class="text-primary-600">"{{search_value|upper}}"</span> Keyword
                    {% endif %}
                </p>
                <p class="mb-4 text-lg font-light text-gray-500 ">Please add patient with your desired
                    {% if search_value %}
                    name
                    {% else %}
                    category
                    {% endif %}
                    from <a class="text-primary-600 underline" href="{% url 'add_patient' %}">Here</a> to see the
                    records in
                    details
                </p>
            </div>
        </div>
    </section>

    {% endif %}


</section>


{% endblock %}